<!-- One -->
<section id="one" class="wrapper style1">
	<div class="inner">
		<div class="flex flex-3">
			<article>
				<header>
					<h3>Analytics</h3>
				</header>
				<p>{{ site.data.miscellaneous.about.analytics }}</p>
			</article>
			<article>
				<header>
					<h3>Business</h3>
				</header>
				<p>{{ site.data.miscellaneous.about.business }}</p>
			</article>
			<article>
				<header>
					<h3>Consulting</h3>
				</header>
				<p>{{ site.data.miscellaneous.about.consulting }}</p>
			</article>
		</div>
	</div>
</section>